body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

.content {
    width: 75%;
    margin: 0;
    padding: 0 0 0 25%;
}

.container {
    width: 80%;
    margin: 24px auto;
}

.text-center {
    text-align: center;
}

img {
    width: 100%;
    border-radius: 12px;
}

.card {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    padding: 8px;
    border-radius: 12px;
    margin-bottom: 24px;
    background-color: #ffffff;
}

.card>.card-body {
    padding: 8px;
}


/* Aside */

aside {
    position: fixed;
    height: 100%;
    width: 25%;
    background-color: #fce4ec;
    margin: 0;
    padding: 0;
    top: 0;
}

aside>.profile {
    width: 100%;
    margin: 24px auto;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
}

aside>.profile>img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    padding: 8px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    background-color: #ffffff;
    object-fit: cover;
    object-position: center;
}

aside>.menu>ul {
    padding: 0;
}

aside>.menu>ul>li {
    list-style: none;
}

aside>.menu>ul>li>a {
    width: 95%;
    float: left;
    padding: 2.5%;
    text-decoration: none;
    color: #333;
    padding-left: 5%;
    padding-right: 0;
}

aside>.menu>ul>li>a:hover {
    width: 95%;
    float: left;
    padding: 2.5%;
    text-decoration: none;
    color: #ffffff;
    background-color: #f8bbd0;
    padding-left: 5%;
    padding-right: 0;
}

aside>.menu>ul>li>a.active {
    width: 95%;
    float: left;
    padding: 2.5%;
    text-decoration: none;
    color: #ffffff;
    background-color: #f8bbd0;
    padding-left: 5%;
    padding-right: 0;
}